<!--
Who is the better Programmer
WEB405 Project 3
Author: Lami Kabir
Date: April 13, 2017
-->    
    <html>
        <header>
        <title>Node.js Quiz</title>
            <link rel="stylesheet" type="text/css" href="/css/styles.css">
        </header>
        <body>
            <H1>Instructions</H1>
            <p>This game is to decide who is the more knowledgeable in programming. This game is very competetive due to having a ranking system. 
            This game is a multiplayer game. It is not a 1 on 1 multiplayer game.
            How this game works is what ever amount of player submitted there quiz. They will be matched with every single player on the server and the server will compare your score. 
            Each match up you win you will increase your rank property. So, once you click submit it will do a lot of processing and then it will announce the winners. If there are multiple ties it will announce them.
            It will say something like this, "the winners are.... lami, phil. They beat 564 players."
            After that it will tell you how many players those winners beat. An example would be like Phil beat 567 players. 567 is probably the amount of players submitted the quiz. There is a ranking chart below
            of the quiz and it's on the same web page.</p>
            
            <h1>Bugs</h1>
            <p class="littleText">None</p>
            
            <h1>Rules Ignored</h1>
            <p class="littleText">None</p>
        </body>
    </html>